@import "src/styles/scaffold";

.productShare {
    &__title {
      font-size: 1.125rem;
      font-weight: 500;
      line-height: 120%;
      color: var(--primary-dark);
      text-align: center;
      margin-bottom: 1rem;
    }
  
    &__list {
      display: flex;
      align-items: center;
      justify-content: center;
      
      &--item {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: var(--neutral-medium);
        width: 36px;
        height: 36px;
        transition: all 0.3s ease;
  
        &:not(:last-child) {
          margin-right: 1rem;
        }
  
        &:hover {
          background: var(--secondary-dark);
        }
      }
    }
  
    @include mobile {
      margin-bottom: 2rem;
    }
  }
  