@import 'src/styles/scaffold.scss';

.institutional {
    width: 100%;
    background: #f2f2f2;
    padding-top: 1rem;
    padding-bottom: 2rem;
    position: relative;
    overflow: hidden;
  
    &::before {
      content: url("data:image/svg+xml,%3Csvg width='364' height='722' viewBox='0 0 364 722' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M273.949 187.625C285.773 198.642 299.826 207.377 315.3 213.328C330.775 219.279 347.363 222.328 364.112 222.3C364.103 190.896 350.668 160.78 326.76 138.574C302.852 116.368 270.427 103.89 236.616 103.882C236.595 119.437 239.882 134.841 246.289 149.212C252.695 163.583 262.095 176.637 273.949 187.625Z' fill='%23E6D3B6'/%3E%3Cpath d='M237.474 270.973C220.803 286.398 207.582 304.735 198.572 324.926C189.563 345.118 184.944 366.765 184.982 388.622C208.51 388.618 231.806 384.311 253.542 375.944C275.277 367.578 295.025 355.318 311.659 339.863C328.293 324.409 341.487 306.062 350.487 285.872C359.487 265.681 364.117 244.042 364.113 222.189C340.584 222.165 317.282 226.463 295.549 234.836C273.815 243.208 254.078 255.489 237.474 270.973Z' fill='%2345B8AD'/%3E%3Cpath d='M124.771 49.3809C138.871 49.3809 152.394 44.1783 162.365 34.9177C172.336 25.657 177.937 13.0967 177.937 0.000135171L124.771 0.000137329L124.771 49.3809Z' fill='%2345B8AD'/%3E%3Cpath d='M236.617 49.3809L236.617 0.000135171L183.451 0.000137329C183.451 6.48491 184.826 12.9062 187.498 18.8973C190.17 24.8885 194.086 30.3322 199.023 34.9177C203.96 39.5031 209.821 43.1405 216.271 45.6221C222.722 48.1037 229.635 49.3809 236.617 49.3809Z' fill='%2345B8AD'/%3E%3Cpath d='M236.617 54.5031C229.635 54.5031 222.722 55.7802 216.271 58.2618C209.821 60.7435 203.96 64.3808 199.023 68.9663C194.086 73.5517 190.17 78.9955 187.498 84.9866C184.826 90.9778 183.451 97.399 183.451 103.884L236.617 103.884L236.617 54.5031Z' fill='%2345B8AD'/%3E%3Cpath d='M124.771 54.5031L124.771 103.884L177.937 103.884C177.937 90.7872 172.336 78.227 162.365 68.9663C152.394 59.7056 138.871 54.5031 124.771 54.5031Z' fill='%2345B8AD'/%3E%3Cpath d='M121.586 416.749C129.582 416.741 137.247 413.786 142.897 408.532C148.548 403.279 151.722 396.157 151.722 388.731L121.586 388.731L121.586 416.749Z' fill='%23EBDCC5'/%3E%3Cpath d='M184.981 416.749L184.981 388.731L154.845 388.731C154.845 396.157 158.019 403.279 163.67 408.532C169.321 413.786 176.986 416.741 184.981 416.749Z' fill='%23EBDCC5'/%3E%3Cpath d='M184.981 419.652C176.989 419.652 169.324 422.601 163.672 427.85C158.02 433.099 154.845 440.219 154.845 447.642L184.981 447.642L184.981 419.652Z' fill='%23EBDCC5'/%3E%3Cpath d='M121.586 419.652L121.586 447.642L151.722 447.642C151.722 440.219 148.547 433.099 142.896 427.85C137.244 422.601 129.579 419.652 121.586 419.652Z' fill='%23EBDCC5'/%3E%3Cpath d='M92.5209 635.071C80.3683 635.071 68.3348 637.294 57.1076 641.614C45.8805 645.935 35.6797 652.267 27.0879 660.25C18.4962 668.232 11.6818 677.709 7.03395 688.138C2.38614 698.567 -0.00401817 709.744 5.0693e-06 721.032L185.042 721.032C185.046 709.744 182.656 698.567 178.008 688.138C173.36 677.709 166.546 668.232 157.954 660.25C149.362 652.267 139.161 645.935 127.934 641.614C116.707 637.294 104.674 635.071 92.5209 635.071Z' fill='%23E6D3B6'/%3E%3Cpath d='M328.648 584.378C328.648 659.9 264.333 721.114 184.981 721.114L184.981 447.642C264.333 447.642 328.648 508.856 328.648 584.378Z' fill='%23B8C023'/%3E%3C/svg%3E%0A");
      display: block;
      position: absolute;
      z-index: 1;
      right: 0;
      top: 0;
  
      @include mobile {
        content: url("data:image/svg+xml,%3Csvg width='127' height='254' viewBox='0 0 127 254' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M96.3094 65.9462C100.465 69.8185 105.405 72.8888 110.844 74.9805C116.283 77.0722 122.113 78.1438 128 78.1337C127.997 67.0958 123.275 56.5108 114.872 48.7058C106.468 40.9009 95.0716 36.5149 83.1875 36.5123C83.1802 41.9793 84.3356 47.3938 86.5874 52.4449C88.8392 57.496 92.1431 62.0843 96.3094 65.9462Z' fill='%23E6D3B6'/%3E%3Cpath d='M83.4894 95.2413C77.6296 100.663 72.9826 107.108 69.8161 114.205C66.6495 121.302 65.0261 128.911 65.0391 136.593C73.3087 136.591 81.4971 135.077 89.1367 132.137C96.7762 129.196 103.717 124.887 109.564 119.455C115.41 114.023 120.048 107.575 123.211 100.478C126.374 93.3813 128.002 85.7755 128 78.0948C119.73 78.0864 111.54 79.597 103.901 82.5397C96.2624 85.4824 89.3253 89.799 83.4894 95.2413Z' fill='%2345B8AD'/%3E%3Cpath d='M43.876 17.3564C48.8321 17.3564 53.5852 15.5279 57.0897 12.2729C60.5942 9.01794 62.563 4.60325 62.563 3.73886e-05L43.876 3.8147e-05L43.876 17.3564Z' fill='%2345B8AD'/%3E%3Cpath d='M83.188 17.3564L83.188 3.73886e-05L64.501 3.8147e-05C64.501 2.27932 64.9843 4.53626 65.9234 6.64204C66.8625 8.74782 68.239 10.6612 69.9743 12.2729C71.7095 13.8846 73.7696 15.1631 76.0368 16.0353C78.304 16.9075 80.734 17.3564 83.188 17.3564Z' fill='%2345B8AD'/%3E%3Cpath d='M83.188 19.1573C80.734 19.1573 78.304 19.6062 76.0368 20.4784C73.7696 21.3506 71.7095 22.6291 69.9743 24.2408C68.239 25.8525 66.8625 27.7659 65.9234 29.8717C64.9843 31.9774 64.501 34.2344 64.501 36.5137L83.188 36.5137L83.188 19.1573Z' fill='%2345B8AD'/%3E%3Cpath d='M43.876 19.1573L43.876 36.5137L62.563 36.5137C62.563 31.9105 60.5942 27.4958 57.0897 24.2408C53.5852 20.9859 48.8321 19.1573 43.876 19.1573Z' fill='%2345B8AD'/%3E%3Cpath d='M42.7568 146.479C45.5671 146.477 48.2612 145.438 50.2473 143.592C52.2334 141.745 53.3491 139.242 53.3491 136.632L42.7568 136.632L42.7568 146.479Z' fill='%23EBDCC5'/%3E%3Cpath d='M65.039 146.479L65.039 136.632L54.4468 136.632C54.4468 139.242 55.5624 141.745 57.5485 143.592C59.5346 145.438 62.2288 146.477 65.039 146.479Z' fill='%23EBDCC5'/%3E%3Cpath d='M65.039 147.5C62.2298 147.5 59.5356 148.536 57.5492 150.381C55.5627 152.226 54.4468 154.729 54.4468 157.338L65.039 157.338L65.039 147.5Z' fill='%23EBDCC5'/%3E%3Cpath d='M42.7568 147.5L42.7568 157.338L53.3491 157.338C53.3491 154.729 52.2331 152.226 50.2467 150.381C48.2602 148.536 45.5661 147.5 42.7568 147.5Z' fill='%23EBDCC5'/%3E%3Cpath d='M32.5409 223.216C28.2695 223.216 24.0399 223.997 20.0938 225.516C16.1476 227.035 12.5622 229.26 9.54238 232.066C6.52254 234.872 4.12741 238.203 2.49379 241.868C0.860169 245.534 0.0200721 249.462 0.0214862 253.43L65.0603 253.43C65.0617 249.462 64.2216 245.534 62.588 241.868C60.9543 238.203 58.5592 234.872 55.5394 232.066C52.5195 229.26 48.9341 227.035 44.988 225.516C41.0419 223.997 36.8123 223.216 32.5409 223.216Z' fill='%23E6D3B6'/%3E%3Cpath d='M115.535 205.398C115.535 231.942 92.9297 253.458 65.0391 253.458L65.0391 157.338C92.9297 157.338 115.535 178.853 115.535 205.398Z' fill='%23B8C023'/%3E%3C/svg%3E%0A");
      }
    }
  
    &::after {
      content: '';
      background-image: url(../../assets/institutional/afterContent.png);
      display: block;
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      width: 900px;
      height: 1200px;
      top: 200px;
  
      @include mobile {
        width: 100%;
        height: 600px;
        background-size: contain;
      }
    }
  
    &__container {
      @include mobile {
        padding: 0 !important;
      }
    }
  
    &__title {
      margin: 0;
      margin-bottom: 2rem;
      font-size: 2rem;
      line-height: 120%;
      font-weight: 500;
      color: var(--primary-dark);
      text-align: center;
    }
  
    &__subtitle {
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 120%;
      margin-bottom: 1rem;
      text-align: center;
      color: var(--primary-dark);
    }
  
    &__paragraph {
      font-size: 0.875rem;
      font-weight: 500;
      color: var(--neutral-dark);
      text-align: center;
    }
  
    &__text {
      font-size: 0.875rem;
      font-weight: 500;
      color: var(--neutral-dark);
      text-align: center;
  
      p{
        margin-bottom: 1rem;
      }
    }
  
    &__box {
      max-width: 1148px;
      padding: 2rem;
      width: 100%;
      background: var(--neutral-lightest);
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
      position: relative;
      z-index: 2;
      border-radius: 0.25rem;
      margin: 0 auto 2rem auto;

    
      @include mobile {
        padding: 1.5rem;
  
        &--custom {
          width: calc(100% - 2rem);
        }

        &:nth-of-type(2){
          margin-bottom: 0;
        }
      }
  
      img{
        border-radius: .4rem;
      }

      .banner-horizontal{
        margin-bottom: 1rem;
      }
    }
  
    &__video {
      max-width: 792px;
      height: 445px;
      margin: 2rem auto 0 auto;
  
      & ~ .institutional__text{
        margin-top: 1rem;
      }
  
      @include mobile {
        height: 185px;
      }
    }
  
    &__image {
      @include mobile {
        height: 200px;
      }
    }
  
    @include mobile {
      padding-top: 2rem;
      padding-bottom: 0;
    }
  }
  