@import "src/styles/scaffold";

.flag {

  &__prizes {
    position: absolute;
    top: 56px;
    right: 112px;
    display: flex;
    flex-flow: column;
    align-items: center;
    z-index: 2;

    @include mobile {
      right: 0.5rem;
      top: 54px;
    }

    &--list {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      overflow: hidden;
      max-height: 140px;
      transition: all 0.3s ease;

      &-open {
        max-height: 576px;
        overflow-y: scroll;

        &::-webkit-scrollbar-track {
          width: 0;
          background: transparent;
        }

        &::-webkit-scrollbar {
          width: 0;
          background: transparent;
        }

        &::-moz-scrollbar {
          width: 0;
          background: transparent;
        }

        @include mobile {
          max-height: 292px;
        }
      }
    }

    &--image {
      width: 62px;
      height: 62px;
      object-fit: cover;
      border-radius: 50%;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    &--showMore {
      margin-top: 1rem;
      width: 38px;
      height: 38px;
      border: 1px solid var(--primary-dark);
      border-radius: 50%;
      font-size: 1rem;
      font-weight: 500;
      color: var(--primary-dark);
    }
  }

  &__country {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    left: 0.6rem;
    top: 1.875rem;
    z-index: 1;
    object-fit: cover;
    border-radius: 50%;

    @include mobile {
      left: 0.3rem;
      top: 2rem;
    }
  }
}