@import "src/styles/scaffold";

.ageGate {
  background: rgba(0, 0, 0, 0.25);
  overflow: hidden;
  z-index: 9;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  position: fixed;

  svg{
    margin-bottom: 2rem;

    @include mobile{
      height: 30px;
    }
  }

  &__block {
    .ageGate__container {
      background-color: var(--neutral-lightest);
      background-image: url("data:image/svg+xml,%3Csvg width='501' height='168' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M331.541 57.57a24.527 24.527 0 0 1-7.188 17.346A24.545 24.545 0 0 1 307 82.101V57.57h24.541Z' fill='%2345B8AD'/%3E%3Cpath d='M265.125 126.399a58.581 58.581 0 0 0-17.232 41.6 58.877 58.877 0 0 0 41.609-17.233 58.833 58.833 0 0 0 17.24-41.592 58.705 58.705 0 0 0-41.617 17.225Z' fill='%23E6D3B6'/%3E%3Cmask id='a' fill='%23fff'%3E%3Cpath d='M223.704 109.569a82.368 82.368 0 0 0-58.467-24.22 82.634 82.634 0 0 0 24.231 58.449 82.707 82.707 0 0 0 58.48 24.201 82.334 82.334 0 0 0-24.244-58.43Z'/%3E%3C/mask%3E%3Cpath d='m165.237 85.35-.002-1-.998.001v.999h1Zm82.711 82.649v1h.999l.001-.999-1-.001Zm-23.535-59.135a83.347 83.347 0 0 0-27.139-18.168l-.765 1.848a81.364 81.364 0 0 1 26.487 17.731l1.417-1.411Zm-27.139-18.168a83.37 83.37 0 0 0-32.039-6.346l.003 2a81.376 81.376 0 0 1 31.271 6.194l.765-1.847Zm-33.037-5.346a83.638 83.638 0 0 0 6.376 32.016l1.848-.766a81.63 81.63 0 0 1-6.224-31.25h-2Zm6.376 32.016a83.68 83.68 0 0 0 18.148 27.139l1.414-1.415a81.65 81.65 0 0 1-17.714-26.49l-1.848.766Zm18.148 27.139a83.714 83.714 0 0 0 27.157 18.131l.764-1.848a81.692 81.692 0 0 1-26.507-17.698l-1.414 1.415Zm27.157 18.131a83.716 83.716 0 0 0 32.03 6.363v-2a81.732 81.732 0 0 1-31.266-6.211l-.764 1.848Zm33.03 5.364a83.315 83.315 0 0 0-6.361-32.019l-1.847.767a81.302 81.302 0 0 1 6.208 31.25l2 .002Zm-6.361-32.019a83.333 83.333 0 0 0-18.177-27.12l-1.411 1.417a81.36 81.36 0 0 1 17.741 26.47l1.847-.767Z' fill='%23B0BF3C' mask='url(%23a)'/%3E%3Cpath d='M151.258 56.098a13.912 13.912 0 0 0 4.083 9.832 13.927 13.927 0 0 0 9.841 4.072V56.098h-13.924ZM151.258 85.35h13.924V71.445c-3.691 0-7.23 1.465-9.841 4.072a13.912 13.912 0 0 0-4.083 9.833ZM149.816 85.35a13.904 13.904 0 0 0-13.91-13.905V85.35h13.91ZM149.816 56.098h-13.91v13.904a13.904 13.904 0 0 0 13.91-13.904Z' fill='%23EBDCC5'/%3E%3Cpath d='M39.046 26.54a42.175 42.175 0 0 1-9.152 45.985A42.207 42.207 0 0 1 .54 84.874V.503a42.22 42.22 0 0 1 29.353 12.349 42.188 42.188 0 0 1 9.152 13.688Z' stroke='%23B0BF3C'/%3E%3Cpath d='M67.953 151.636C30.42 151.636 0 121.962 0 85.35h135.906c0 36.612-30.421 66.286-67.953 66.286Z' fill='%23B8C023'/%3E%3Cpath d='M400.242 126.399a58.581 58.581 0 0 1 17.232 41.6 58.873 58.873 0 0 1-41.608-17.233 58.83 58.83 0 0 1-17.241-41.592 58.705 58.705 0 0 1 41.617 17.225Z' fill='%23E6D3B6'/%3E%3Cmask id='b' fill='%23fff'%3E%3Cpath d='M441.663 109.569a82.368 82.368 0 0 1 58.467-24.22 82.615 82.615 0 0 1-6.3 31.634 82.683 82.683 0 0 1-44.763 44.729 82.715 82.715 0 0 1-31.648 6.287 82.304 82.304 0 0 1 6.285-31.635 82.35 82.35 0 0 1 17.959-26.795Z'/%3E%3C/mask%3E%3Cpath d='m500.13 85.35.002-1 .999.001-.001.999h-1Zm-82.711 82.649v1h-.999l-.001-.999 1-.001Zm23.536-59.135a83.343 83.343 0 0 1 27.138-18.168l.766 1.848a81.358 81.358 0 0 0-26.488 17.731l-1.416-1.411Zm27.138-18.168a83.37 83.37 0 0 1 32.039-6.346l-.003 2a81.368 81.368 0 0 0-31.27 6.194l-.766-1.847Zm33.037-5.346a83.638 83.638 0 0 1-6.376 32.016l-1.848-.766a81.611 81.611 0 0 0 6.224-31.25h2Zm-6.376 32.016a83.68 83.68 0 0 1-18.148 27.139l-1.414-1.415a81.65 81.65 0 0 0 17.714-26.49l1.848.766Zm-18.148 27.139a83.703 83.703 0 0 1-27.157 18.131l-.764-1.848a81.692 81.692 0 0 0 26.507-17.698l1.414 1.415Zm-27.157 18.131a83.716 83.716 0 0 1-32.03 6.363v-2a81.732 81.732 0 0 0 31.266-6.211l.764 1.848ZM416.419 168a83.315 83.315 0 0 1 6.361-32.019l1.847.767a81.302 81.302 0 0 0-6.208 31.25l-2 .002Zm6.361-32.019a83.333 83.333 0 0 1 18.177-27.12l1.411 1.417a81.36 81.36 0 0 0-17.741 26.47l-1.847-.767Z' fill='%23B0BF3C' mask='url(%23b)'/%3E%3Cpath d='M331.541 109.175H307v-24.53a24.545 24.545 0 0 1 22.673 15.143 24.528 24.528 0 0 1 1.868 9.387ZM334.085 109.175a24.528 24.528 0 0 1 15.149-22.663 24.554 24.554 0 0 1 9.392-1.868v24.531h-24.541ZM334.085 57.57h24.541V82.1a24.545 24.545 0 0 1-17.353-7.184 24.527 24.527 0 0 1-7.188-17.346Z' fill='%2345B8AD'/%3E%3C/svg%3E");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom;

      @include mobile{
        background-image: url("data:image/svg+xml,%3Csvg width='338' height='172' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M269.86 128.658a59.626 59.626 0 0 0-17.54 42.343 59.928 59.928 0 0 0 42.352-17.541 59.88 59.88 0 0 0 17.549-42.335 59.755 59.755 0 0 0-42.361 17.533Z' fill='%23E6D3B6'/%3E%3Cmask id='a' fill='%23fff'%3E%3Cpath d='M227.7 111.527a83.824 83.824 0 0 0-59.512-24.652 84.112 84.112 0 0 0 24.664 59.492 84.198 84.198 0 0 0 59.524 24.634 83.814 83.814 0 0 0-24.676-59.474Z'/%3E%3C/mask%3E%3Cpath d='m168.188 86.875-.002-1-.998.002v.998h1Zm84.188 84.126.001 1 .998-.001.001-.998-1-.001Zm-23.968-60.18a84.82 84.82 0 0 0-27.617-18.487l-.766 1.848a82.81 82.81 0 0 1 26.966 18.051l1.417-1.412Zm-27.617-18.487a84.849 84.849 0 0 0-32.605-6.459l.004 2a82.843 82.843 0 0 1 31.835 6.307l.766-1.848Zm-33.603-5.459a85.116 85.116 0 0 0 6.489 32.581l1.848-.766a83.104 83.104 0 0 1-6.337-31.815h-2Zm6.489 32.581a85.134 85.134 0 0 0 18.468 27.618l1.414-1.415a83.124 83.124 0 0 1-18.034-26.969l-1.848.766Zm18.468 27.618a85.173 85.173 0 0 0 27.636 18.451l.765-1.848a83.171 83.171 0 0 1-26.987-18.018l-1.414 1.415Zm27.636 18.451a85.197 85.197 0 0 0 32.596 6.476l-.001-2a83.211 83.211 0 0 1-31.83-6.324l-.765 1.848Zm33.595 5.477a84.753 84.753 0 0 0-6.473-32.584l-1.847.766a82.79 82.79 0 0 1 6.32 31.816l2 .002Zm-6.473-32.584a84.785 84.785 0 0 0-18.498-27.599l-1.411 1.417a82.819 82.819 0 0 1 18.062 26.948l1.847-.766Z' fill='%23B0BF3C' mask='url(%23a)'/%3E%3Cpath d='M337.199 111.125a24.964 24.964 0 0 0-7.317-17.656 24.978 24.978 0 0 0-17.662-7.313v24.969h24.979ZM337.199 58.598H312.22v24.968c6.625 0 12.978-2.63 17.662-7.313a24.962 24.962 0 0 0 7.317-17.655Z' fill='%2345B8AD'/%3E%3Cpath d='M153.959 57.102a14.174 14.174 0 0 0 14.173 14.153V57.101h-14.173ZM153.959 86.874h14.173V72.72a14.174 14.174 0 0 0-14.173 14.153ZM152.491 86.874a14.15 14.15 0 0 0-14.158-14.153v14.153h14.158ZM152.491 57.102h-14.158v14.152a14.15 14.15 0 0 0 14.158-14.153Z' fill='%23EBDCC5'/%3E%3Cpath d='M43.524 43.45a43.435 43.435 0 0 0-12.736-30.729A43.47 43.47 0 0 0 .042 0v86.901a43.484 43.484 0 0 0 30.745-12.72 43.451 43.451 0 0 0 12.737-30.73Z' fill='%23E6D3B6'/%3E%3Cpath d='M69.167 154.345C30.964 154.345 0 124.141 0 86.875h138.333c0 37.266-30.964 67.47-69.166 67.47Z' fill='%23B8C023'/%3E%3C/svg%3E");
      }
    }

  }


  &__selection{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
    height: 308px;
    background: var(--neutral-lightest);
    padding: 2rem;
    border-radius: 0.5rem;
    align-items: center;
    flex-direction: column;
    display: flex;

    @media screen and (max-width: 600px) {
      width: 92%;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: var(--primary-dark);
    margin-bottom: 2rem;
  }

  &__button {
    width: 100%;
    height: 48px;
    font-weight: 700;
    font-size: 1rem;
    line-height: 150%;
    color: var(--primary-dark);
    transition: all 0.3s ease;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;

    &.primary {
      background: var(--primary-dark);
      border: 1px solid var(--primary-dark);
      color: var(--neutral-lightest);

      &:hover {
        background: var(--primary-darkest);
      }
    }

    &.secondary {
      border: 1px solid var(--primary-dark);

      &:hover {
        background: var(--neutral-light);
      }
    }
  }

  &__text {
    font-size: 1.125rem;
    line-height: 120%;
    color: var(--primary-dark);
    text-align: center;
    max-width: 330px;
    width: 100%;
  }
}
